@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FAFAFA; /* お好みの背景色に設定 */
}
/* Rename to follow Tailwind-like kebab-case naming */
.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text-default {
  color: #2C2C2C;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
